# API Gateway URL (Nginx)
VITE_API_BASE_URL=http://localhost:8080/api

# Microservices URLs (si se accede directamente, sin Gateway)
VITE_MS_AUTH_URL=http://localhost:8001/api/v1/auth
VITE_MS_GEO_URL=http://localhost:8003/api/v1/geo
VITE_MS_USER_URL=http://localhost:8002/api/v1/users
VITE_MS_REPORT_URL=http://localhost:8004/api/v1/reports
VITE_MS_PRODUCT_URL=http://localhost:8005/api/v1/products
VITE_WS_USER_URL=ws://localhost:8080

# Map Configuration
VITE_MAP_CENTER_LAT=4.7110
VITE_MAP_CENTER_LNG=-74.0721
VITE_MAP_ZOOM=6